NEXTAUTH_URL=http://localhost:3000


GOOGLE_ID=996589744500-n3teth10dp6uncs8r0ansjqd24b471d0.apps.googleusercontent.com
GOOGLE_SECRET=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

TWITTER_ID=
TWITTER_SECRET=

EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=sqlite://localhost/:memory:?synchronize=true
